{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/5.3/assets/css/docs.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Gift Exchange{% endblock %}</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</head>

{%url 'main:home_view' as home_url %}
{%url 'events:create_event_view' as new_event_url %}
{%url 'events:user_events_view' as events_url %}
{%url 'events:current_user_participations_view' as user_participations_url %}

<body class="w-100">
    <header class="container-fluid fixid-top px-5 ">
        <nav class="navbar navbar-expand-md ">
            <div class="container-fluid">
                <a class="navbar-brand" href={{home_url}}><img src="{%static 'images/logo/logo-no-background.png'%}"
                        alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#right-nav"
                    aria-controls="right-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="right-nav">
                    <ul class="navbar-nav align-items-center ms-auto mb-2 mb-md-0 gap-3">
                        <li class="nav-item">
                            <a class="nav-link {%if request.path == home_url%}active{%endif%}" aria-current="page"
                                href="{{home_url}}">Home</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link {%if request.path == new_event_url%}active{%endif%}"
                                href="{{new_event_url}}">Start New Event</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link {%if request.path == events_url%}active{%endif%}"
                                href="{{events_url}}">My Events</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link {%if request.path == user_participations_url%}active{%endif%}"
                                href="{{user_participations_url}}">Participation</a>
                        </li>
                        {%if request.user.is_authenticated%}
                        <li class="nav-item ">
                            <div class="user-info rounded-circle">
                                <button type="button" class="btn" data-bs-toggle="dropdown" data-bs-display="static"
                                    aria-expanded="false">
                                    <i class="bi bi-person-fill"></i> </button>
                                <ul class="dropdown-menu dropdown-menu-end p-4">
                                    <li>{{request.user.get_full_name}}</li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="{%url 'accounts:user_profile_view' request.user.username%}"><i
                                                class="bi bi-person-circle"></i> Profile</a></li>

                                    <li><a class="dropdown-item" href="{%url 'accounts:logout_view'%}"><i
                                                class="bi bi-box-arrow-right"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        {%else%}
                        <li class="nav-item ">
                            <a href="{%url 'accounts:sign_in_view'%}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                                class="btn btn-outline-custom" aria-disabled="true"><i
                                    class="bi bi-person-fill"></i></button>
                                sign in</a>
                        </li>
                        <li class="nav-item ">
                            <a href="{%url 'accounts:sign_up_view'%}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}"
                                class="btn btn-custom" aria-disabled="true"><i class="bi bi-person-fill"></i></button>
                                sign up</a>
                        </li>

                        {%endif%}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="">
        <div id="alertsContainer">
            {% if messages %}
            {% for msg in messages %}
            <div class="alert {{ msg.tags }} alert-dismissible fade show mt-4" role="alert" style="display: none;">
                <p>{{ msg }}</p>
                <button type="button" class="btn-close" aria-label="Close"
                    onclick="hideAlert(this.parentElement)"></button>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        {%block content%}

        {%endblock%}
    </main>
    <footer class="py-1 my-4">
    
        <p class="text-center text-body-secondary">&copy; 2025 All right reserved</p>

    </footer>
    <script src="{% static 'js/script.js' %}"></script>




    {%block script%}

    {%endblock%}
</body>

</html>