{%extends 'main/base.html'%}

{%block content %}{% if not request.user.is_authenticated %}
{%include 'accounts/auth_modal.html'%}

{% endif %}

<section class="px-4 pt-4">
    <div class="d-flex flex-row justify-content-start align-items-center mb-4">
        <h2 class="pink-title mb-0 text-center"> <i class="bi bi-1-circle number-icon me-2"></i>
            Your Event</h2>
    </div>
    <form class="row g-3" onsubmit="validateBudgetAndDate(event)" action="{% url 'events:create_event_view'%}" method="POST">
        {%csrf_token%}


        <div class="col-md-10">
            <label for="event_title" class="form-label">Event Title</label>
            <input type="text" class="form-control" id="event_title" name="event_title" required>
        </div>
        <div class="col-md-10">
            <label for="event_date" class="form-label">Exchange Date</label>
            <input type="date" class="form-control" id="event_date" name="event_date" required>
        </div>
        <div class="col-md-10">
            <label for="event_description" class="form-label">Event Description</label>
            <textarea type="text" class="form-control" id="event_description" name="event_description"
                required></textarea>
        </div>
        <div class="col-md-5">
            <label for="event_min_budget" class="form-label">Min Budget</label>
            <input type="number" class="form-control" id="event_min_budget" name="event_min_budget" required>
        </div>
        <div class="col-md-5">
            <label for="event_max_budget" class="form-label">Max Budget</label>
            <input type="number" class="form-control" id="event_max_budget" name="event_max_budget" required>
        </div>



        <div class="d-flex flex-row justify-content-start align-items-center mb-4">
            <h2 class="pink-title mb-0 text-center"> <i class="bi bi-2-circle number-icon me-2"></i>
                Participant List</h2>
        </div>

        <div class="card shadow p-4 col-md-10">
            <p>Below, list the participants in your event. Not sure who is participating yet? No problem, just share a
                link to allow everyone to register.
                You can rule out undesirable participant pairings later</p>
            <div class="row participant-input" id="participant">
                <div class="col-5">
                    <label for="participant_name" class="form-label">Name:</label>
                </div>
                <div class="col-5">
                    <label for="participant_email" class="form-label">Email:</label>
                </div>
            </div>
            <div id="participant-container"> <!-- Container for participant inputs -->

                <div class="row participant-input mb-1" id="participant-1">
                    <div class="col-6 col-md-5">
                        <input type="text" class="form-control" id="participant_name_1" name="participant_name_1"
                            placeholder="Name.." value="{{user.get_full_name}}" required>
                    </div>
                    <div class="col-6 col-md-5">
                        <input type="email" class="form-control" id="participant_email_1" name="participant_email_1"
                            placeholder="Email.." value="{{user.email}}" required>
                    </div>
                    <div class="col-2 mt-2 mt-md-0">
                        <input type="button" class="btn btn-custom" value="Remove" onclick="removeParticipant(this)">
                    </div>
                </div>
            </div>

            <div class="col-md-2">
                <input type="button" class="btn btn-custom2 mt-1" value="Add Participant" onclick="addParticipant()">
            </div>
        </div>

        <div class="col-md-10 d-flex flex-row justify-content-center ">
            <button type="submit" class="btn btn-custom w-50">Start Event</button>
        </div>
    </form>


</section>


{% endblock%}

{%block script%}
<script>
    let participantCount = 1;  // Initial count for identifying participant input IDs

    function addParticipant() {
        participantCount++;  // Increment the count for unique IDs

        // Create a new div for the participant input
        const newParticipant = `
            <div class="row participant-input mb-1" id="participant-${participantCount}">
                <div class="col-6 col-md-5">
                    <input type="text" class="form-control" id="participant_name_${participantCount}" placeholder="Name.." name="participant_name_${participantCount}" required>
                </div>
                <div class="col-6 col-md-5">
                    <input type="email" class="form-control" id="participant_email_${participantCount}" placeholder="Email.." name="participant_email_${participantCount}" required>
                </div>
                <div class="col-2 mt-2 mt-md-0">
                    <input type="button" class="btn btn-custom" value="Remove" onclick="removeParticipant(this)">
                </div>
            </div>
        `;

        // Append the newly created participant input div to the participant container
        document.getElementById('participant-container').insertAdjacentHTML('beforeend', newParticipant);
    }

    function removeParticipant(button) {
        // Remove the participant input section
        const participantRow = button.closest('.participant-input');
        participantRow.remove();
        
    }
</script>

{%endblock%}