{%extends 'main/base.html'%}
{%load static%}
{%block content %}{% if not request.user.is_authenticated %}
{%include 'accounts/auth_modal.html'%}

{%endif%}

{%if event.event_organizer.id != request.user.id%}
<section>
    <!-- Modal -->
    <div class="modal fade" id="unathorized" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Access Denied</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You are trying to access an event that you do not own.</p>
                    <p>Only the event organizer has permission to view this page.</p>
                </div>

            </div>
        </div>
    </div>
</section>
{%else%}

<section class="px-4 pt-4 row justify-content-center align-items-center">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <div class="col-md-9 d-flex flex-row justify-content-start align-items-center my-4">
        <h2 class="pink-title mb-0 text-center"> <i class="bi bi-1-circle number-icon me-2"></i>
            Event > #{{event.id}}</h2>
    </div>
    <div class="col-md-9 card shadow event_info">
        <div class="row">
            <img class="col-md-5" src="{% static 'images/img-3.png' %}" alt="">
            <div class="col-md-7 d-flex flex-column gap-2 my-4">
                <h3 class="pink-title my-4 item-input">{{event.event_title}}</h3>
                <p class="title"><i class="bi bi-calendar-event"></i> {{event.event_date}}</p>
                <p class="title"><i class="bi bi-cash"></i> {{event.event_min_budget}} - {{event.event_max_budget}}</p>
                <p class="title"><i class="bi bi-people"></i> {{event.participants.count}} Participants</p>
            </div>
        </div>

        {% if not event.is_draw %}
        <div class="container rounded warning-card text-white my-3 py-2">
            <div class="row">
                <div class=" text-center">
                    <h2>
                        <i class="bi bi-exclamation-circle"></i>
                    </h2>
                </div>
                <div class=" text-start">
                    <p>- Use the 'Validate Event' button when all participants have been added to send invitations</p>
                    <p>- Once the names are drawn, any unregistered participants will automatically be removed to
                        prevent their names from being included in the draw.</p>
                </div>

            </div>

        </div>
        {% endif %}
    </div>

    <div class="col-md-9 d-flex flex-row justify-content-start align-items-center my-4">
        <h2 class="pink-title mb-0 text-center"> <i class="bi bi-2-circle number-icon me-2"></i>
            Manage the event</h2>
    </div>

    <div
        class="col-md-9 card shadow p-2 p-md-4 row row-cols-2 row-cols-sm-5 row-cols-md-7 d-flex flex-row justify-content-start align-items-start">
        <div class="d-flex flex-column col justify-content-center align-items-center text-center">
            <a {% if not event.is_draw %}
                href="{%url 'events:validate_event_view' request.GET.event_id%}?prev={{request.path}}" {%else%} href="#"
                data-bs-toggle="modal" data-bs-target="#WarningModal " {%endif%} class="text-dark text-decoration-none">
                <i class="bi bi-check-circle icons mb-3"></i>
                <h6 class="title">Validate the event and send email invitations</h6>
            </a>
        </div>

        <div class="d-flex flex-column col justify-content-center align-items-center text-center">
            <a href="{%url 'events:update_event_view' request.GET.event_id%}?prev={{request.path}}"
                class="text-dark text-decoration-none">
                <i class="bi bi-pencil-square icons"></i>
                <h6 class="title">Modify the event (date, description, etc.)</h6>
            </a>
        </div>
        <div class="d-flex flex-column col justify-content-center align-items-center text-center">
            <a href="{%url 'events:draw_participants_view' request.GET.event_id%}?prev={{request.path}}"
                class="text-dark text-decoration-none">
                <i class="bi bi-gift icons"></i>
                <h6 class="title">Draw Names</h6>
            </a>
        </div>
        <div class="d-flex flex-column col justify-content-center align-items-center text-center">

            <a class="text-dark text-decoration-none"
                href="{%url 'events:share_link_view' request.GET.event_id%}?prev={{request.path}}">
                <i class="bi bi-share-fill icons"></i>
                <h6 class="title">Share registration link</h6>
            </a>

        </div>
        <!-- extra features -->
        <!-- <div class="d-flex flex-column col justify-content-center align-items-center text-center">
            <a href="#" class="text-dark text-decoration-none">
                <i class="bi bi-sliders2 icons"></i>
                <h6>Manage options</h6>
            </a>
        </div>
        <div class="d-flex flex-column col justify-content-center align-items-center text-center">
            <a href="#" class="text-dark text-decoration-none">
                <i class="bi bi-palette-fill icons"></i>
                <h6>Customize the design</h6>
            </a>
        </div> -->
        <div class="d-flex flex-column col justify-content-center align-items-center text-center">
            <a href="#" class="text-dark text-decoration-none" data-bs-toggle="modal"
                data-bs-target="#ConfirmationModal">
                <i class="bi bi-x-circle icons"></i>
                <h6 class="title">Cancel the Event</h6>
            </a>
        </div>

    </div>
    <div class="col-md-9 d-flex flex-row justify-content-start align-items-center my-4">
        <h2 class="pink-title mb-0 text-center"> <i class="bi bi-3-circle number-icon me-2"></i>
            Participant List</h2>
    </div>

    <div class="col-md-9 table-responsive card shadow participants">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for participant in participants %}
                <tr>
                    <td>{{ participant.user.username }}</td>
                    <td>{{ participant.user.email }}</td>
                    <td>
                        <i class="bi bi-check-circle"></i>
                    </td>
                </tr>
                {% endfor %}
                {% for participant in unconfirmed_participants %}
                <tr>
                    <td>{{ participant.name }}</td>
                    <td>{{ participant.email }}</td>
                    <td>
                        <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#EditModal"
                            data-bs-whatever="{{ participant.id }}" data-bs-name="{{ participant.name }}"
                            data-bs-email="{{ participant.email }}" data-bs-event_id={{ request.GET.event_id }}><i
                                class="bi bi-pencil-square"></i></button> -->
                        <i class="bi bi-x-circle"></i>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    </div>


</section>

{% endif %}
<!-- Modal -->
<div class="modal fade" id="ConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ConfirmationModalLabel">Cancel Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel {{event.event_title}} event?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a href="{% url 'events:event_cancelation_view' event.id %}" class="btn btn-custom">Yes</a>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="ConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ConfirmationModalLabel">Cancel Event</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel {{event.event_title}} event?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <a href="{% url 'events:event_cancelation_view' event.id %}" class="btn btn-custom">Yes</a>
            </div>
        </div>
    </div>
</div>
<!-- warning modal -->
<div class="modal fade" id="WarningModal" tabindex="-1" aria-labelledby="WarningModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="WarningModalLabel">Warning</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sorry, the names for this event have already been drawn.
                All registered participants have received an email, and unregistered participants have been removed.
                <br><br>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-custom" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    // Automatically show the modal when the page loads if the user is not authenticated
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('unathorized'), {
            backdrop: 'static',
            keyboard: false
        });
        myModal.show();
    });
</script>


{% endblock%}