{%extends 'main/base.html'%}
{%load static%}
{%block content %}
{% if not request.user.is_authenticated %}
{%include 'accounts/auth_modal.html'%}

{%else%}
{%if event_exists%}
<section class="event-section">
    {%for event in events%}
    <div class="row d-flex flex-column justify-content-center align-items-center m-4">
        <div class="col-md-10 event-card shadow">
            <div class="row">
                <img class="col-md-5" src="{% static 'images/img-3.png' %}" alt="">
                <div class="col-md-7 d-flex flex-column gap-2 my-4">
                    <h3 class="pink-title my-4 item-input">{{event.event_title}}</h3>
                    <p class="title"><i class="bi bi-calendar-event"></i> {{event.event_date}}</p>
                    <p class="title"><i class="bi bi-cash"></i> {{event.event_min_budget}} - {{event.event_max_budget}}
                    </p>
                    <p class="title"><i class="bi bi-people"></i> {{event.participants.count}} Participants</p>
                    <p class="light-title">If necessary, contact the draw organizer at {{event.event_organizer.email}}
                    </p>
                    {%if event.is_draw%}
                    <a href="{%url 'events:participant_area_view' event.id %}" class="w-100 mt-auto">
                        <input type="hidden" name="event_id" value="{{event.id}}">
                        <button type="submit" class="btn btn-custom2 col-12 col-md-6 " aria-disabled="true">Open
                            Participant Area</button>

                    </a>
                    {%else%}
                    <a href="{%url 'events:temp_participant_area_view' event.id %}" class="w-100 mt-auto">
                        <input type="hidden" name="event_id" value="{{event.id}}">
                        <button type="submit" class="btn btn-custom col-12 col-md-6 " aria-disabled="true">Open
                            Participant Area</button>
                    </a>
                    {%endif%}

                </div>

            </div>


        </div>
    </div>

    {%endfor%}
</section>
{%else%}
<section class="main-section d-flex justify-content-center align-items-center">
    <div class="row w-100 justify-content-center">
        <div class="col-md-8 d-flex flex-column justify-content-center align-items-center event-card shadow">
            <h3 class="title">You are not participated in any event yet</h3>
            <a href="{{ new_event_url }}" class="btn btn-custom col-10 col-md-6 mx-auto">Start an event</a>
        </div>
    </div>
</section>

{% endif %}
{% endif %}




{% endblock%}