{%extends 'main/event_base.html'%}
{%load static%}
{%block content %}
{% if not request.user.is_authenticated %}
{%include 'accounts/auth_modal.html'%}

{%else%}
<div class="container-fluid area">
   <section class="img-card row d-flex justify-content-center align-items-between">
        <div style="height: 100px;"></div>
        <div class="col-10 col-md-9 d-flex flex-column justify-content-center gap-3 mt-4 mb-3 ">

       
            <div class="event-card shadow">
                <div class="d-flex flex-column justify-content-center align-items-center gap-1 py-3">

                    <h3 class="pink-title">Welcome {{request.user.first_name}}</h3>
                    <h5 class="title mb-2">Congrats, your draw has been started!</h5>
                    <a href="{%url 'wishList:drawn_name_view' event.id user.drawn_name.id %}" class="btn btn-custom2">
                        View {{user.drawn_name.get_full_name}} Wishlist
                    </a>
                </div>
            </div>
            <p>If you encauntered any problems or have inqueries contact the event orgnizer
                {{event.event_organizer.email}}</p>
            <div class="event-card shadow">

                    <h3 class="pink-title text-center item-input"> {{event.event_title}}</h3>
 
            </div>
            <div class="d-flex flex-row justify-content-center align-items-center w-100 gap-2 ">

                <div class="event-card  w-50 shadow" style="height: 100px;">

                    <h3 class="title text-center"><i class="bi bi-calendar-event"></i>  Exchange Date</h3>
                    <p class="orange-title text-center mb-0"> {{event.event_date}}</p>


                </div>
                <div class="event-card w-50 shadow" style="height: 100px;">
                    <h3 class="title text-center"><i class="bi bi-cash"></i>  Budget</h3>
                    <p class="orange-title text-center mb-0">{{event.event_min_budget}} - {{event.event_max_budget}}</p>
                    
                </div>
            </div>
     
            <div class="d-flex flex-row justify-content-center ">
                <h2 class="orange-title">Draws and wishlist status</h2>
                        </div>
            <div class="card shadow ">

                <div class="table-responsive-sm card shadow participants px-4">
                    <table class="table ">
                        <thead>
                            <tr class="row">
                                <th class="col-3 text-center pink-title">Participant</th>
                                <th class="col-9 text-center pink-title">Wishlist</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant in event.participants.all %}
                            <tr class="row">
                                <th class="col-3 text-center title">{{ participant.user.get_full_name }}</th>
                                <th class="col-9 text-end">
                                    <div class="wishlist-container d-flex justify-content-end">
                                    
                                        {% if participant.wishlist.count %}

                                        {% for item in participant.wishlist.all %}
                                  
                                            {% if forloop.counter <= 3 %}
                                                <div class="wishlist-item">
                                                    {% if item.image %}  
                                                        <img src="{{ item.image.url }}" alt="{{ item.name }}" class="wishlist-image" />
                                                    {% else %}
                                                        <div class="no-image-container">
                                                            <p class="item-input item-text p-1">{{ item.name }}</p>  
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                        {% if participant.wishlist.count > 3 %}
                                        <div class="no-image-container">
                                            <a href="#" class="text-decoration-none item-text">View More</a>
                                        </div>
                                        {% endif %}
                                        {%else%}
                                        <div class="no-image-container">
                                            <p class="item-input item-text p-1">No items added</p>  
                                        </div>
                                        {%endif%}
                                    </div>
                                </th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>

        </div>


</section> 
</div>i



<!-- <section class="main-section">
    <div class="d-flex flex-column justify-content-center align-items-center gap-3">
        <h1>you are not participated in any event yet</h1>
        <a href="{{new_event_url}}" class="btn btn-danger col-4 mx-auto" aria-disabled="true">start an event</a>
    </div>
</section> -->


{%endif%}
{%endblock%}