{%extends 'main/base.html'%}

{%block content %}{% if not request.user.is_authenticated %}
{%include 'accounts/auth_modal.html'%}

{% endif %}

<section class="px-4 pt-4">
    <div class="d-flex flex-row justify-content-start align-items-center mb-4">
        <h2 class="pink-title mb-0 text-center"> <i class="bi bi-1-circle number-icon me-2"></i>
            Your Event</h2>
    </div>
    <form class="row g-3" onsubmit="validateBudgetAndDate(event)"  action="{% url 'events:update_event_view' event.id%}" method="POST">
        {%csrf_token%}


        <div class="col-md-10">
            <label for="event_title" class="form-label">Event Title</label>
            <input type="text" class="form-control" id="event_title" name="event_title" value="{{event.event_title}}"
                required>
        </div>
        <div class="col-md-10">
            <label for="event_date" class="form-label">Exchange Date</label>
            <input type="date" class="form-control" id="event_date" name="event_date"
                value="{{event.event_date.isoformat}}" required>
        </div>
        <div class="col-10">
            <label for="event_description" class="form-label">Event Description</label>
            <textarea type="text" class="form-control" id="event_description" name="event_description"
                required>{{event.event_description}}</textarea>
        </div>
        <div class="col-md-5">
            <label for="event_min_budget" class="form-label">Min Budget</label>
            <input type="number" class="form-control" id="event_min_budget" name="event_min_budget"
                value="{{event.event_min_budget}}" required>
        </div>
        <div class="col-md-5">
            <label for="event_max_budget" class="form-label">Max Budget</label>
            <input type="number" class="form-control" id="event_max_budget" name="event_max_budget"
                value="{{event.event_max_budget}}" required>
        </div>


        {%if not event.is_draw%}
        <div class="d-flex flex-row justify-content-start align-items-center mb-4">
            <h2 class="pink-title mb-0 text-center"> <i class="bi bi-2-circle number-icon me-2"></i>
                Participant List</h2>
        </div>
        <div class="card shadow p-4 col-md-10">
            <p>Below, list the participants in your event.</p>
            <div class="row" id="participant">
                <div class="col-5">
                    <label for="participant_name" class="form-label">Name:</label>
                </div>
                <div class="col-5">
                    <label for="participant_email" class="form-label">Email:</label>
                </div>
            </div>
            <div id="participant-container"> <!-- Container for participant inputs -->
                {% for participant, ptype in all_participants %}
                <div class="row participant-input mb-1" id="participant-{{ forloop.counter }}">
                    <div class="col-6 col-md-5">
                        <input type="text" class="form-control" id="participant_name_{{ forloop.counter }}"
                            name="participant_name_{{ forloop.counter }}" placeholder="Name.."
                            value="{% if ptype == 'registered' %}{{ participant.user.username }}{% else %}{{ participant.name }}{% endif %}"
                            required>
                    </div>
                    <div class="col-6 col-md-5">
                        <input type="email" class="form-control" id="participant_email_{{ forloop.counter }}"
                            name="participant_email_{{ forloop.counter }}" placeholder="Email.."
                            value="{% if ptype == 'registered' %}{{ participant.user.email }}{% else %}{{ participant.email }}{% endif %}"
                            required>
                    </div>
                    <div class="col-2 mt-2 mt-md-0">
                        <input type="button" class="btn btn-custom" value="Remove" onclick="removeParticipant(this)">
                    </div>
                </div>
                {%endfor%}
                <input type="hidden" id="part_num" value="{{ all_participants|length }}">
            </div>

            <div class="col-md-2">
                <input type="button" class="btn btn-custom2 mt-1" value="Add Participant" onclick="addParticipant()">
            </div>
        </div>
        {%endif%}
        <div class="col-md-10  d-flex flex-row justify-content-center ">
            <button type="submit" class="btn btn-custom w-50">Update Event</button>
        </div>
    </form>


</section>


{% endblock%}

{%block script%}

<script>
    // Initialize participant count based on the existing number of participants, or set default to 0
    let participantCount = parseInt(document.getElementById('part_num').value, 10) || 0;

    function addParticipant() {
        console.log(participantCount)
        // Increment the count for unique IDs
        participantCount++;
        console.log(participantCount)


        // Create a new div for the participant input
        const newParticipant = `
            <div class="row participant-input mb-1" id="participant-${participantCount}">
                <div class="col-6 col-md-5">
                    <input type="text" class="form-control" id="participant_name_${participantCount}" placeholder="Name.." name="participant_name_${participantCount}"  required>
                </div>
                <div class="col-6 col-md-5">
                    <input type="email" class="form-control" id="participant_email_${participantCount}" placeholder="Email.." name="participant_email_${participantCount}" required>
                </div>
                <div class="col-2 mt-2 mt-md-0">
                    <input type="button" class="btn btn-custom" value="Remove" onclick="removeParticipant(this)">
                </div>
            </div>
        `;

        // Append the newly created participant input div to the participant container
        document.getElementById('participant-container').insertAdjacentHTML('beforeend', newParticipant);
    }

    function removeParticipant(button) {
        // Remove the participant input section
        const participantRow = button.closest('.participant-input');
        console.log(participantRow)
        participantRow.remove();

        // Update participant count by decrementing
        participantCount--;
        console.log(participantCount)

        //  Update the IDs of remaining participants 
        updateParticipantIds();
    }
    function updateParticipantIds() {
        const participants = document.querySelectorAll('.participant-input');
        participants.forEach((participant, index) => {
            // Update the ID for the participant container
            participant.id = `participant-${index + 1}`;

            // Find the text input for the participant's name
            const textInput = participant.querySelector('input[type="text"]');
            if (textInput) {
                textInput.id = `participant_name_${index + 1}`;
                textInput.name = `participant_name_${index + 1}`;
            }

            // Find the email input for the participant
            const emailInput = participant.querySelector('input[type="email"]');
            if (emailInput) {
                emailInput.id = `participant_email_${index + 1}`;
                emailInput.name = `participant_email_${index + 1}`;
            }
        });

        // Update the participant count display if necessary
        document.getElementById('part_num').value = participants.length; // Update the participant count
    }
</script>

{%endblock%}