{%extends 'main/base.html'%}

{%block content %}{% if not request.user.is_authenticated %}
{% include 'accounts/auth_modal.html' %}
{% else %}
{% if event_exists%}
    {% include 'events/events_list.html' %}
{% else %}   

<section class="main-section d-flex justify-content-center align-items-center" >
    <div class="row w-100 justify-content-center">
        <div class="col-md-8 d-flex flex-column justify-content-center align-items-center event-card shadow">
            <h3 class="title">You do not have an event yet</h3>
            <a href="{{ new_event_url }}" class="btn btn-custom col-10 col-md-6 mx-auto">Start an event</a>
        </div>
    </div>
</section>
{% endif %}
{% endif %}
{% endblock%}
{%block script%}

{%endblock%}