{%extends 'main/event_base.html'%}

{%block content %}
{% if not request.user.is_authenticated %}
{%include 'accounts/auth_modal.html'%}

{%else%}

<section class="row d-flex justify-content-center w-100">
    <div class='col-sm-10 col-md-4 d-flex flex-column py-2'>

        {% include 'wishList/wish_items.html' %}

        <!-- New item -->
        <div class=" py-3 px-2">

            <div class="d-flex flex-row justify-content-start w-100 mx-2">
                <div class="action-icon btn btn-custom2 ">
                    <i class="bi bi-bag-plus-fill" onclick="toggleInput()"></i>
                </div>
                <div class="input-container w-100" id="inputContainer">
                    <form action="{%url 'wishList:save_item_view' event.id %}" method="post"
                        enctype="multipart/form-data" class="d-flex flex-row w-100">
                        {%csrf_token%}
                        <input type="text" class="form-control w-100 " id="inputText" name='gift_name'
                            onkeyup="checkInput(event)" required>
                    

                    </form>

                </div>
            </div>

     
        </div>
    </div>
    <div class="col-sm-10 col-md-7 d-flex flex-column justify-content-start">
        <div class="container-fluid p-2 m-3">
            <div class="row gap-2">
                {%for gift in gifts%}
                <div class="col-9 col-sm-5 col-md-4 col-xl-2 mb-sm-3 card">
                    <div class=" d-flex flex-column me-1 ">
                        <img src="{{ gift.image.url }}" class=" mb-3 w-100 object-fit" alt="{{ gift.name }}">
                        <p class="item-input">{{gift.name}}</p>
                        <a href="{{gift.link}}" class="btn btn-custom2" target="_blank">Link to amazon</a>              
                     
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>


</section>
<script>
    function toggleInput() {
        const inputContainer = document.getElementById('inputContainer');
        inputContainer.style.display = inputContainer.style.display === 'flex' ? 'none' : 'flex';
        document.getElementById('inputText').value = ''; // Clear the input when toggled
        document.getElementById('inputText').focus(); // Focus on the input when opened
    }

    function checkInput(event) {
        const inputField = document.getElementById('inputText');
        if (event.key === 'Enter' && inputField.value) {
            toggleInput();
        }
    }
</script>

{%endif%}
{%endblock%}